body {
    background-color: hsl(210, 46%, 95%);
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
}

main {
    padding: 5%;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 350px 320px;
    gap: 20px;
}

h1 {
    font-size: 13px;
    max-width: 150px;
}

svg {
    position: absolute;
    right: 10%;
    top: 0;
}


/* Sections */

section {
    padding: 5%;
    border-radius: 11px;
}

.daniel {
    background-color: hsl(263, 55%, 52%);
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
}

.jonathan {
    background-color: hsl(217, 19%, 35%);
}

.jeanette {
    background-color: hsl(0, 0%, 100%);
    grid-column-start: 1;
    grid-column-end: 2;
}

.patrick {
    background-color: hsl(219, 29%, 14%);
    grid-column-start: 2;
    grid-column-end: 4;
}

.kira {
    background-color: hsl(0, 0%, 100%);
    grid-column: 4/5;
    grid-row: 1/3;
    max-width: 500px;
}



/* Images */

.profile-photo {
    border-radius: 100%;
    border: 1px white solid;
    width: 39px;
    display: block;
    float: left;
    margin-right: 16px;
}


/* Text */

.white {
    color: hsl(0, 0%, 100%);
}

.gray {
    color: hsl(217, 19%, 35%);
}

.status {
    opacity: 50%;
}

.testimony-one {
    font-size: x-large;
    clear: both;
    margin-top: 13px;
    font-weight: 600;
}

.testimony-two {
    opacity: 70%;
}

.dan-testimony {
    position: relative;
    z-index: 2;
}

/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }


@media screen and (max-width: 750px) {
    main {
        display: block;
    }

section {
    margin-bottom: 30px;
}

    .kira {
        max-width: 100%;
    }
}